
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.container-login{
    background-color: #2980B9;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
}
.logo-bank{
    margin-right: auto;
    margin-left: auto;
}
.large-logo{
    display: none;
}

@media (min-width: 960px){
    .container-login{
        background-image: url(../../assets/bank-oficce.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 150vh;
        height: 100vh;
        width: 100%;

    }
    .form-content{
        border: aliceblue  1px solid;
        padding: 2%;
        background-color: #1B4F72;
    }
    .img-small{
        display: none;
    }
    .logo-bank{
        margin-right: 0% !important;
    }
    .small-logo{
        display: none;
    }
    .large-logo{
        display: inline;
    }
}