
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.container-login{
    background-color: #2980B9;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
}
.logo-bank{
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 960px){

    .logo-bank{
        margin-right: 0% !important;
    }
    
}